$art-map-subtitles: (
        null: 20px,
  //  480px: 14px,
  //  768px: 36px,
  //   1024px: 42px,
        1200px: 25px,
  //  1440px: 25px,
  //  1600px: 25px
);


$art-map-paragraph: (
        null: 16px,
  //      480px: 24px,
  //      768px: 26px,
        1024px: 18px,
   //     1200px: 30px,
  // 1440px: 50px,
  //  1600px: 50px
);

$art-map-header-h1: (
        null: 24px,
        480px: 30px,
        768px: 36px,
        1024px: 42px,
        1200px: 50px,
  // 1440px: 50px,
  //  1600px: 50px
);

$art-map-header-h2: (
        null: 22px,
        480px: 24px,
        768px: 26px,
        1024px: 28px,
        1200px: 30px,
  // 1440px: 50px,
  //  1600px: 50px
);