@import "fonts";

/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
.np {
  padding: 0;
}

*:focus{
  outline: 0;
}
/*********************
LINK STYLES
*********************/
a, a:visited {

  // Mobile tap color
  &:link {
    //Highlight links on iOS, Similar to :hover for mobile devices.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

  // Removing text decoration from all headline links
  a {
    text-decoration: none;
  }
}

h1, .h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

h2, .h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
  ul.off-canvas-list li {
    list-style: none;
  }
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
  position: absolute;
  width: 100%;
  z-index: 1;

  .title-area {
    z-index: 1;
  }

  @include breakpoint(medium down) {
    padding: 2.5rem;
  }

}

.off-canvas-list {
  ul {
    margin-left: 0;
    li {
      a {
        border-bottom: 0;
      }
    }
    .dropdown {
      margin-left: 20px;
    }
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  #inner-content {
    padding: 0;
  }
}

.single-title,
.page-title {

}

.single-title {

}

.page-title {

  // Remove Foundation vcard styling from author page titles
  .vcard {
    border: 0;
    padding: 0;
  }
}

.archive-title {

}

// Post meta  
.byline {
  color: #999;
  time {
  }
}

// Entry content  
.entry-content {

  img {
    max-width: 100%;
    height: auto;
  }

  .alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  video, object {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px;
  }

}

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;

  // Images inside wp-caption
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }

  p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
  @include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {

  dl {

    a {
    }

    img {
    }

  }

  dt {
  }

  dd {
  }

}

// Gallery caption styles
.gallery-caption {
}

.size-full {
}

.size-large {
}

.size-medium {
}

.size-thumbnail {
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
  .commentlist {
    margin-left: 0px;
  }
}

#respond {
  ul {
    margin-left: 0px;
  }
}

.commentlist {
  li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;

    &:last-child {
      margin-bottom: 0;
    }

    ul.children {
      margin: 0;

      li {
      }

      .comment {
      }
      .alt {
      }
      .odd {
      }
      .even {
      }
      .depth-1 {
      }
      // Change number for different depth
      .byuser {
      }
      .bypostauthor {
      }
      .comment-author-admin {
      }

    }
  }

  li[class*=depth-] {
    margin-top: 1.1em;
  }

  li.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  li:not(.depth-1) {
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 0;
  }

  li.depth-2 {
  }
  li.depth-3 {
  }
  li.depth-4 {
  }
  li.depth-5 {
  }

  // General comment classes
  .alt {
  }
  .odd {
  }
  .even {
  }
  .parent {
  }
  .comment {
  }
  .children {
  }
  .pingback {
  }
  .bypostauthor {
  }
  .comment-author {
  }
  .comment-author-admin {
  }
  .thread-alt {
  }
  .thread-odd {
  }
  .thread-even {
  }

  // vcard
  .vcard {
    margin-left: 50px;

    cite.fn {
      font-weight: 700;
      font-style: normal;

      a.url {
      }

    }

    time {
      float: right;

      a {
        color: #999;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

      }

    }

    img.photo {
    }

    img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff;
    }

  }
  // end .commentlist .vcard

  // comment meta
  .comment-meta {

    a {
    }

  }

  .commentmetadata {

    a {
    }

  }

  // comment content
  .comment_content {

    p {
      margin: 0.7335em 0 1.5em;
      font-size: 1em;
      line-height: 1.5em;
    }

  }
  // end .commentlist .comment_content

  // comment reply link
  .comment-reply-link {
    float: right;

    &:hover,
    &:focus {

    }

  }
  // end .commentlist .comment-reply-link

}

// end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;

  form {
    margin: 0.75em 0;

    li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em;

      label,
      small {
        display: none;
      }
    }

    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em;

      &:focus {
        background: #fff;
      }

      // form validation
      &:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
      }
    }

    input[type=text],
    input[type=email],
    input[type=url] {
      max-width: 400px;
      min-width: 250px;
    }

    textarea {
      resize: none;
      width: 97.3%;
      height: 150px;
    }

  }
}

// comment submit button  
#submit {
}

// comment form title  
#comment-form-title {
  margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
  a {
  }
}

// logged in comments  
.comments-logged-in-as {
}

// allowed tags  
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
  ul {
    margin: 0;

    li {
      list-style: none;

      &:first-child {
      }

      &:last-child {
      }

      a {
      }

      // deep nesting
      ul {
      }

    }
  }
}

/*********************
FOOTER STYLES
*********************/
.footer {
  text-align: center;
  background-image: url(../images/svg/gradient_katalog.svg);
  background-color: $primary-blue;
  background-size: cover;
  font-size: 18px;
  clear: both;
  color: $white;
  padding: 20px 0 0 0;

  @include breakpoint(large) {
    text-align: left;
    padding: 90px 0 0 0;
  }

  .title {
    font-weight: bold;
    padding-bottom: 14px;
    display: inline-block;
  }

  a {
    color: $white;
    &:hover{
      opacity: 0.4;
      -webkit-transition: opacity 0.35s ease-in-out;
      -moz-transition: opacity 0.35s ease-in-out;
      -ms-transition: opacity 0.35s ease-in-out;
      -o-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
  }

  ul {
    li {
      padding: 7px 0;
    }
  }

  @include breakpoint(medium down) {
    #inner-footer {
      div {
        padding: 20px 0;
      }
    }
  }

  &__menu {
  }

  &__categories {
  }

  &__offer {
  }

  &__social {
    padding-bottom: 15px;
    .title {
      display: block;
      width: 100%;
    }
    span {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      svg{
        &:hover{
          opacity: 0.4;
          -webkit-transition: opacity 0.35s ease-in-out;
          -moz-transition: opacity 0.35s ease-in-out;
          -ms-transition: opacity 0.35s ease-in-out;
          -o-transition: opacity 0.35s ease-in-out;
          transition: opacity 0.35s ease-in-out;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    background: $third-blue;
    padding: 5px;
    font-size: 14px;
    p {
      margin: 0;
    }
    a {
      color: $white;
    }
  }
}

/*********************
FOUNDATION STYLES
*********************/
.home {
  .off-canvas-content {
    background: $white;
  }
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
  list-style: none outside none;
  margin: 0;
}

/*********************
CUSTOM STYLES
*********************/

.mainview {
  height: 100vh;
  background: url(../images/mobile/photo_head_mobile.png);
  background-size: cover;
  position: relative;
  color: $white;

  @include breakpoint(large) {
    background: url(../images/photo_head.png) no-repeat;
    background-size: cover;
  }

  &__center {
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include breakpoint(large) {
      &:after {
        content: "";
        background: $white;
        width: 60px;
        height: 2px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 8%;

    &__left {
      float: left;
      padding: 0 35px;

      span {
        display: inline-block;
        width: 44px;
        height: 44px;
        margin: 0 5px;
        svg{
          &:hover{
            opacity: 0.4;
            -webkit-transition: opacity 0.35s ease-in-out;
            -moz-transition: opacity 0.35s ease-in-out;
            -ms-transition: opacity 0.35s ease-in-out;
            -o-transition: opacity 0.35s ease-in-out;
            transition: opacity 0.35s ease-in-out;
          }
        }
      }
    }

    &__right {
      margin: 0 auto;
      text-align: center;
      padding: 0 35px;

      input {
        color: $white;
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none;

        &:focus {
          background: transparent;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          box-shadow: none;
        }
      }

      @include breakpoint(large) {
        float: right;
      }
    }

    &__arrow {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      &:hover{
        transition: opacity 0.35s ease-in-out;
        -webkit-transition: opacity 0.35s ease-in-out;
        -moz-transition: opacity 0.35s ease-in-out;
        -ms-transition: opacity 0.35s ease-in-out;
        -o-transition: opacity 0.35s ease-in-out;
        opacity: 0.4;
      }

      .pulse {
        position: relative;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        border: 1px solid $white;

        &:before {
          content: "";
          display: inline-block;
          padding: 8px;
          box-shadow: 4px 4px 0 0 white inset;
          transform: rotate(-135deg);
          position: absolute;
          left: 13px;
          top: 10px;
        }

        &:after, span {
          position: absolute;
          content: '';
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          box-shadow: 0 0 1px $white;
          animation: glow-grow 2s ease-out infinite;
        }

        &:after {
          animation-delay: .66s;
        }

        span {
          animation-delay: 1.33s;
        }

        @keyframes glow-grow {
          0% {
            opacity: 0;
            transform: scale(1);
          }
          80% {
            opacity: 1;
          }
          100% {
            transform: scale(2);
            opacity: 0;
          }
        }

      }
    }
  }
}

.opinions {
  padding: 90px 0;
  @include breakpoint(large) {
    padding: 90px;
  }
  &__slider {
    &__item {
      &__opinion {
        text-align: center;
        font-size: 45px;
        padding-top: 50px;
      }

      &__name {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
        p {
          margin: 0;
        }
      }
    }
  }
}

.about {
  color: $white;

  p {
    font-size: 18px;
  }

  &__us {
    background: url(../images/svg/gradient_o_nas.svg);
    background-size: cover;
    background-color: $primary-color;
    padding: 90px 0;
    position: relative;
    text-align: center;

    &:after {
      content: "";
      display: block;
      background: url(../images/mobile/soundtrack_onas_mobile.svg);
      background-size: cover;
      height: 90px;
      width: 100%;
      position: absolute;
      bottom: 0;

      @include breakpoint(large) {
        background: url(../images/svg/soundtrack_o_nas.svg);
      }
    }

    &__txt{
      position: relative;
    }
  }

  &__details {

    ul{
      padding: 30px 0;
    }

    &__organizers {
      background: url(../images/organizatorzy.png);
      background-size: cover;
      background-position: center;
      background-color: $primary-color;
      @include more-link-transparent(1px solid $white, transparent, $white);
      padding: 80px 0;
      opacity: 1;
      color: $white;
      text-align: center;


      &:hover{
        opacity: 0.9;
        -webkit-transition: opacity 0.35s ease-in-out;
        -moz-transition: opacity 0.35s ease-in-out;
        -ms-transition: opacity 0.35s ease-in-out;
        -o-transition: opacity 0.35s ease-in-out;
        transition: opacity 0.35s ease-in-out;
      }

      @include breakpoint(large) {
        text-align: left;
      }
      &__txt{
        position: relative;
      }
    }

    &__artists {
      background: url(../images/zespoly.png);
      background-size: cover;
      background-position: center;
      background-color: $primary-color;
      @include more-link-transparent(1px solid $white, transparent, $white);
      padding: 80px 0;
      color: $white;
      text-align: center;
      opacity: 1;
      &:hover{
        opacity: 0.9;
        -webkit-transition: opacity 0.35s ease-in-out;
        -moz-transition: opacity 0.35s ease-in-out;
        -ms-transition: opacity 0.35s ease-in-out;
        -o-transition: opacity 0.35s ease-in-out;
        transition: opacity 0.35s ease-in-out;
      }

      @include breakpoint(large) {
        text-align: left;
      }
      &__txt{
        position: relative;
      }

    }

  }

}

.offer {

  padding: 70px 0 10px 0;

  h1 {
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  &__catalog {
    text-align: center;
    padding: 30px 0;
    @include more-link(1px solid $pink, $pink, $white);
    @include breakpoint(large) {
      text-align: left;
      padding: 120px 0 60px 0;
    }

    &__left {
      position: relative;
    }

    &__right {
      position: relative;
      img {
        left: 75px;
        margin-top: -70px;
      }
    }
  }

  &__newsletter {
    position: relative;
    text-align: center;
    padding: 30px 0;
    @include more-link(1px solid $pink, $pink, $white);
    @include breakpoint(large) {
      padding: 50px 0;
      text-align: right;
      background: url(../images/send_newsletter.png) no-repeat;
      background-position: left;
    }
    &__right{
      position: relative;
    }
  }

  &__join {
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @include more-link(1px solid $pink, $pink, $white);
    @include breakpoint(large) {
      text-align: left;
      padding-top: 90px;
      padding-bottom: 0;
    }
    &__left{
      position: relative;
    }
    &__right {
      position: relative;
      img {
        position: relative;
        left: 35px;
      }

    }
  }

  &__download {
    background: url(../images/svg/gradient_katalog.svg) no-repeat;
    background-size: cover;
    background-color: $primary-color;
    color: $white;
    padding: 130px 0;
    text-align: center;
    position: relative;

    &:after {
      content: "";
      display: block;
      background: url(../images/mobile/soundtrack_download_mobile.svg);
      background-size: cover;
      height: 130px;
      width: 100%;
      position: absolute;
      bottom: 0;
      @include breakpoint(large) {
        background: url(../images/svg/soundtrack_download.svg);
      }
    }

    p {
      font-size: 25px;
      @include breakpoint(large) {
        display: inline-block;
        margin-right: 100px;
      }
    }

    @include more-link-transparent(1px solid $white, transparent, $white);
    .more-link {
      padding: 15px 25px;
      top: -5px;
      position: relative;
      &:after {
        margin-left: 65px;
        position: relative;
      }
    }
  }
}

.categories {

  &__title {
    text-align: center;
    padding: 10px;

    @include breakpoint(large) {
      text-align: left;
    }
  }

  &__loop {

    &__item {
      height: 400px;
      position: relative;
      overflow: hidden;

      &--background {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
      }

      &--overlay {
        @include css-gradient(#376892, #5B9DD7);
        background-size: cover;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity 0.35s ease-in-out;
        -moz-transition: opacity 0.35s ease-in-out;
        -ms-transition: opacity 0.35s ease-in-out;
        -o-transition: opacity 0.35s ease-in-out;
        transition: opacity 0.35s ease-in-out;
      }

      &--title {
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      h2 {
        font-size: 25px;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translateY(-50%) scale3d(1, 1, 1);
        transform: translateY(-50%) scale3d(1, 1, 1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
      }

      &:hover {
        h2 {
          -webkit-transform: translateY(-50%) scale3d(1.3, 1.3, 1);
          transform: translateY(-50%) scale3d(1.3, 1.3, 1);
        }

        .categories__loop__item--background {
          transform: scale(1.2);
        }

        .categories__loop__item--overlay {
         opacity: 0.9;
        }
      }
    }
  }
}

.ourclients {
  padding: 90px 0;
  @include breakpoint(large) {
    padding: 90px;
  }

  h1 {
    text-align: center;
  }

  &__slider {
    margin-top: 65px;
  }
}

.newsletter {
  background: url(../images/svg/gradient_newsletter.svg);
  background-size: cover;
  background-color: $primary-color;
  color: $white;
  padding: 90px 0;
  text-align: center;
  position: relative;

  &:before {
    content: "";
    display: block;
    background: url(../images/mobile/soundtrack_newsletter_mobile.svg);
    background-size: cover;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;

    @include breakpoint(large) {
      background: url(../images/svg/soundtrack_newsletter.svg);
    }
  }

  &__txt {
    padding-top: 30px;
    p {
      font-size: 25px;
      font-weight: bold;
      span {
        font-weight: normal;
        display: block;
      }
    }

    form{
      input[type="text"]{
        display: inline;
        width: 275px;
        margin-right: 10px;
      }

      @include more-link-transparent(1px solid $white, transparent, $white);

      button{
        display: inline;
        padding: 10px 60px 10px 15px !important;
        position: relative !important;
        &:after{
          margin-left: 27px !important;
          position: absolute !important;
          top: 11px !important;
        }
    }
    }
  }
}

.impresariat {

  p {
    font-size: 18px;
  }

  padding: 80px 0;
  background: url(../images/mobile/impresariat_mobile.png);
  background-size: cover;
  color: $white;
  text-align: center;
  @include more-link(1px solid $pink, $pink, $white);

  @include breakpoint(large) {
    padding: 190px 0;
    text-align: right;
    background: url(../images/impresariat.png);
    background-size: cover;
  }
}

.contact {
  padding: 90px 0 30px 0;

  p {
    font-size: 18px;
  }

  @include breakpoint(large) {
    padding: 90px 0;
  }
  h1 {
    text-align: center;
  }

  &__container {
    margin-top: 65px;

    &__left {

      &__info {
        text-align: center;
        p:nth-child(1) {
          font-size: 30px !important;
          font-weight: bold;
        }
        p:nth-child(2) {
          padding-top: 25px;
          padding-bottom: 25px;
        }

        @include breakpoint(large) {
          text-align: left;
        }
      }

      &__print {
        font-size: 25px;
        background-color: $primary-gray;
        padding: 42px;
        p {
          font-weight: bold;
        }

        ul {
          margin: 0;
        }
      }
    }

    &__right {
      &__item {
        &__details {
          background: $primary-gray;
          margin-bottom: 30px;

          img {
            width: 100%;
          }

          ul {
            padding: 20px;
            margin: 0;
            li:nth-child(1) {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  &__form {
    clear: both;

    &__left {
      input[type="submit"] {
        padding: 5px 15px;
        border: $pink;
        background: $pink;
        color: $white;
        &:after {
          content: ">";
          margin-left: 20px;
          font-size: 30px;
          position: relative;
          top: 6px;
        }
      }
    }

    &__right {
      text-align: center;
      margin-top: 16px;
      p:nth-child(1) {
        font-size: 25px !important;
        font-weight: bold;
      }
      p:nth-child(2) {
        padding-top: 25px;
        padding-bottom: 25px;
      }

      @include breakpoint(large) {
        text-align: left;
      }
    }
  }
}

//podstrona
.photo {
  position: relative;
  width: 100vw;
  height: 40vh;
  background: url(../images/mobile/photo_head_oferta_impresariat_blue_mobile.png);
  background-size: cover;

  @include breakpoint(large) {
    height: 72vh;
    background: url(../images/photo_head_oferta_impresariat_blue.png);
    background-size: cover;
  }

  &__back {
    position: absolute;
    bottom: 15px;
    left: 55px;
    font-size: 18px;

    @include breakpoint(large) {
      left: 100px;
    }

    a {
      font-size: 24px;
      color: $white;
      font-weight: bold;
      &:before {
        content: "";
        display: inline-block;
        padding: 8px;
        box-shadow: 3px 3px 0 0 white inset;
        transform: rotate(-45deg);
        position: absolute;
        left: -30px;
        top: 9px;
      }
    }
  }
  h1{
    position: absolute;
    bottom: 45px;
    left: 22px;
    font-size: 26px;
    font-weight: normal;
    color: $white;

    @include breakpoint(large){
      left: initial;
      right: 100px;
      bottom: 8px;
    }
  }
}


article {
  font-size: 18px;
  text-align: center;

  .page-impresariat {

    p:last-child{
      margin: 0;
    }
    img {
      padding: 90px 0 0 0;
    }
  }

  .page-offer {

    &__categories {

      p {
        font-size: 18px;
      }

      ul {

        li {
          border-top: 5px $primary-gray solid;
          border-bottom: 5px $primary-gray solid;
          font-size: 18px;

          @include breakpoint(large) {
            border-top: 15px $primary-gray solid;
            border-bottom: 15px $primary-gray solid;
          }
          a {
            color: $secondary-gray;
          }

          .accordion-title {
            font-size: 25px;
            font-weight: bold;
            // box-shadow: 0px 14px 9px -12px rgba(149, 153, 155, 0.72);

            @include breakpoint(large) {
              text-align: left;
            }
          }

          //cien pod accordion
          .accordion-content {
            box-shadow: 0 14px 9px -12px rgba(149, 153, 155, 0.3);
          }

        }
      }
    }

    &__price {
      &__item {
        padding-top: 35px;
        padding-bottom: 35px;
        @include breakpoint(medium down){
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right:30px;
          padding-left:30px;
        }
        &__spin {
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);

          &__cost {
            background: $primary-blue;
            color: $white;
            font-weight: bold;
            padding: 15px;
          }

          &__img {
            background: $white;
          }

          &__details {
            padding: 20px 0;
            &__info {
              span:nth-child(1) {
                font-weight: bold;
                display: block;
              }
            }

            &__profil {
              font-weight: bold;
              padding: 10px 0;
            }

            &__gratis {
              font-weight: bold;
              padding: 10px 0 0 0;
            }
          }
        }
      }
    }

    &__info {
      font-size: 16px;
      padding: 30px;
      @include breakpoint(large){
        padding: 90px 0;
      }
    }
  }

  /* .page-offer child */

  .page-offer__price__item:nth-child(1) {
    &__spin {
      &__cost {
        background: $third-blue;
      }
    }
  }

  .page-profiles {
    position: relative;
    top: -60px;

    &__sidebar {

      &__accordion {

        &__item {
          @include breakpoint(medium down) {
            border: 5px solid $primary-gray;
          }

          a {
            color: $secondary-gray;

            &:hover{
              color: $secondary-blue;
            }
          }

          .accordion-title {
            font-size: 25px;
            font-weight: bold;
            // box-shadow: 0px 14px 9px -12px rgba(149, 153, 155, 0.72);

            @include breakpoint(large) {
              text-align: left;
            }
          }
        }
      }
    }

    &__container {
      &__accordion {

        @include infinite-more(1px solid $secondary-gray, $secondary-gray, $white);

        @include more-link(1px solid $pink, $pink, $white);

        .more-link {
          @include breakpoint(large) {
            position: absolute;
            left: 342px;
            bottom: 35px;
            padding: 2px 45px 2px 15px;

            &:after {
              position: absolute !important;
              top: -5px;
            }
          }
        }

        .is-active {
          .more-link {
            display: none;
          }

        }
        &__item {
          &:hover{
            h2{
              color: $secondary-blue;
            }
          }

          position: relative;
          margin-bottom: 30px;
          background: $light-gray;
          min-height: 296px;
          padding-bottom: 20px;
          color: $secondary-gray;
          text-align: center;
          box-shadow: 0 14px 9px -12px rgba(149, 153, 155, 0.3);

          &--link {
            padding-bottom: 0;
            color: $secondary-gray;
            &:before {
              z-index: 999;
              top: 38px;
              font-size: 35px;
              font-weight: bold;

              @include breakpoint(medium down){
                display: none;
              }
            }

            @include breakpoint(large) {
              padding: 0;
              text-align: left;
            }
            &--img {
              padding: 0 16px;

              @include breakpoint(large) {
                position: absolute;
                z-index: 99;
                padding: 7px;
                overflow: hidden;
              }

              .square-box {
                overflow: hidden;
                position: relative;
                &:before {
                  content: "";
                  padding-top: 100%;
                  display: block;
                }
              }

              .square-img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                img {
                  height: 100% !important;
                  object-fit: cover;
                }
              }
            }

            &--txt {
              padding: 20px 0 0 0;
              @include breakpoint(large) {
                padding: 30px 30px 30px 50px;
              }
              h2 {
                font-size: 25px;
                @include breakpoint(medium down){
                  &:after{
                    content: '+';
                    color: $secondary-gray;
                    position: absolute;
                    right: 1rem;
                    margin-top: -0.5rem;
                    font-size: 35px;
                    font-weight: bold;
                  }
                }
              }

              p {
                font-size: 18px;
              }

            }
          }

          &--content {
            padding-top: 0;
            padding-bottom: 70px;
            position: relative;

            @include breakpoint(large) {
              padding-top: 1rem;
              padding-bottom: 0;
              top: -45px;
            }
            &--list {
              text-align: center;

              @include breakpoint(large) {
                text-align: left;
                position: relative;
                top: 100px;
              }
            }

            &--txt {
              text-align: center;

              @include breakpoint(large) {
                padding: 0 30px 0 50px;
                text-align: left;
              }

              .more-link {
                display: inline-block !important;
                position: absolute;
                transform: translate(-50%, -50%);
                bottom: 0;
                padding: 2px 45px 2px 15px;
                border: 1px solid $pink;
                background: $pink;
                color: $white;

                @include breakpoint(large) {
                  bottom: -50px;
                  left: 110px;
                }

                &:after {
                  content: ">";
                  margin-left: 20px;
                  font-size: 30px;
                  position: absolute !important;
                  top: -5px;
                }
              }

            }

            &--video {

              @include breakpoint(large) {
                padding-top: 65px;
              }

              .flex-video {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .page-newsletter {
    p {
      font-size: 18px;
    }
    &__info {
      padding-top: 50px;
      padding-bottom: 50px;
      p:nth-child(1) {
        font-size: 30px !important;
        font-weight: bold;
      }

      img {
        margin: 0 0 40px 0;
      }
    }

    &__boxes {
      padding-top: 35px;
      padding-bottom: 35px;

      @include breakpoint(medium down){
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right:30px;
        padding-left:30px;
      }
      &__item {
        background: $white;
        height: 342px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
        svg {
          //ustaw wszystkim svg taka sama wysokosc
          height: 100px;
        }
        &__container {
          &__icon {
            margin: 0 auto;
            padding-top: 45px;
            height: 200px;

            &:after {
              content: "";
              width: 60%;
              height: 1px;
              background: gray;
              display: block;
              margin: 0 auto;
              position: relative;
              top: 40px;
            }
          }

          &__txt {
            padding: 25px;
          }
        }
      }
    }
  }

  .page-subtitle {
    font-size: 50px;
    padding: 65px 0 35px 0;
  }

  .details {
    background: $white;
    margin-top: 30px;
    padding: 90px 0 180px 0;

    @include breakpoint(large) {
      padding: 90px 0;
      margin-top: 0;
    }

    @include more-link(1px solid $pink, $pink, $white);

    p {
      font-size: 25px;
      font-weight: bold;
      margin: 0;
      @include breakpoint(large) {
        display: inline-block;
        margin: 0 60px 0 0;
      }
    }
  }
}

.modal{
  &__container{
    padding-top: 40px;
    padding-bottom: 40px;
    color: $black;
    h2{
      text-align: center;
      text-transform: none;
    }

    form{

      input{
        border: 1px solid $black;
      }

      select,textarea{
        border: 1px solid $black;
      }

      input[type="submit"] {
        padding: 5px 15px;
        border: $pink;
        background: $pink;
        color: $white;
        &:after {
          content: ">";
          margin-left: 20px;
          font-size: 30px;
          position: relative;
          top: 6px;
        }
      }

    }
  }
}