/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/

/*********************
TOOLS
*********************/

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
*********************/

/*********************
TYPOGRAPHY
*********************/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('assets/fonts/font-name.eot');
    	src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('assets/fonts/font-name.woff') format('woff'),
             url('assets/fonts/font-name.ttf') format('truetype'),
             url('assets/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/

//Use the best ampersand - http://simplebits.com/notebook/2008/08/14/ampersands-2/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic;
}

/*********************
CSS3 GRADIENTS.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
  background-color: $to;
  background-image: -webkit-gradient(linear, left top, right bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(45deg, $from, $to);
  background-image: -moz-linear-gradient(45deg, $from, $to);
  background-image: -o-linear-gradient(45deg, $from, $to);
  background-image: linear-gradient(45deg, $from, $to);
}

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin more-link($border, $background, $color) {
  .more-link {
    padding: 5px 15px;
    border: $border;
    background: $background;
    color: $color;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    &:after {
      content: "";
      margin-left: 20px;
      top: 1px;
      display: inline-block;
      padding: 6px;
      box-shadow: 2px 2px 0 0 $white;
      transform: rotate(-45deg);
    }
    &:hover {
      -webkit-animation-name: hvr;
      animation-name: hvr;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      &:after{
        box-shadow: 2px 2px 0 0 $pink;
        -webkit-animation-name: hvr-arrow;
        animation-name: hvr-arrow;
      }
    }


    @-webkit-keyframes hvr {
      100% {
        background: $color;
        border: 1px solid $background;
        color: $pink;
      }
    }

    @keyframes hvr {
      100% {
        background: $color;
        border: 1px solid $background;
        color: $pink;
      }
    }


  @-webkit-keyframes hvr-arrow {
      0%{
        left:0;
      }
      100% {
        left: 10px;
      }
    }

    @keyframes hvr-arrow {
      0%{
        left:0;
      }
      100% {
        left: 10px;
      }
    }

  }
}

@mixin more-link-transparent($border, $background, $color) {
  .more-link {
    padding: 5px 15px;
    border: $border;
    background: $background;
    color: $color;
    &:after {
      content: "";
      margin-left: 20px;
      position: relative;
      top: 1px;
      display: inline-block;
      padding: 6px;
      box-shadow: 2px 2px 0 0 $white;
      transform: rotate(-45deg);
    }
    &:hover {
      -webkit-animation-name: hvr-transparent;
      animation-name: hvr-transparent;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      &:after{
        box-shadow: 2px 2px 0 0 $secondary-blue;
      }
    }
  }

  @-webkit-keyframes hvr-transparent {
    100% {
      background: $color;
      border: 1px solid $background;
      color: $secondary-blue;
    }
  }

  @keyframes hvr-transparent {
    100% {
      background: $color;
      border: 1px solid $background;
      color: $secondary-blue;
    }
  }

}

@mixin infinite-more($border, $background, $color) {
  .infinite-more {
    padding: 2px 45px 2px 15px;
    border: $border;
    background: $background;
    color: $color;
    position: absolute;
    right: 15px;
    &:after {
      content: "";
      top: 1px;
      margin-left: 20px;
      display: inline-block;
      padding: 6px;
      box-shadow: 2px 2px 0 0 $white;
      transform: rotate(-45deg);
    }
  }
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098d1;
  color: white;
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098d1;
  background-color: #2098d1;
  color: white;
}
